* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

main {
  text-align: center;
  width: 100%;
  margin-bottom: 150px;
}

footer {
  text-align: center;
  width: 100%;
  margin: 0 auto 30px auto;
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #7da6e8;
}

.header-img {
  width: 40%;
  margin-bottom: 20px;
}

.active {
  border-bottom: 2px solid #910d0d;
}

.contact-icons i {
  margin: 0 15px;
  font-size: 3.6rem;
  background-color: #000;
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
}

.contact-icons a,
.contact-icons a:visited,
.contact-icons a:active
 {
  color: #fff;
}

.band-name:visited, .band-name:active {
  color: #000;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.nav-links li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  font-size: 4.5rem;
  margin: 0 15px;
  font-weight: bold;
  color: #910d0d;
}

.nav-link a:active {
  text-decoration: underline;
}

@media only screen and (min-resolution: 150dpi) and (min-width: 768px) {
  .header-img {
    width: 15%;
  }

  .nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0 15px;
    font-weight: bold;
    color: #910d0d;
  }

  nav {
    margin-bottom: 0;
  }

  footer {
    position: relative;
    bottom: unset;
  }

  .contact-icons i {
  font-size: 2rem;
    padding: 8px;
  }

  main {
    margin-bottom: 0;
  }

  .contact-icons i:hover {
    background-color: #cccccc;
    border-color: #cccccc;
  }
}

@media only screen and (max-resolution: 100dpi) and (min-width: 768px) {

  .header-img {
    width: 15%;
  }

  .nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0 15px;
    font-weight: bold;
    color: #910d0d;
  }

  nav {
    margin-bottom: 0;
  }

  footer {
    position: relative;
    bottom: unset;
  }

  .contact-icons i {
  font-size: 2rem;
    padding: 8px;
  }

  main {
    margin-bottom: 0;
  }

  .contact-icons i:hover {
    background-color: #cccccc;
    border-color: #cccccc;
  }
}

/*@media
only screen and (min-width : 768px),
only screen and (max-resolution: 100dpi) {
  .header-img {
    width: 15%;

  }

  .nav-link {
    text-decoration: none;
    font-size: 2.5rem;
    margin: 0 15px;
    font-weight: bold;
    color: #910d0d;
  }

  nav {
    margin-bottom: 0;
  }
}*/
