* {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

main {
  text-align: center;
  width: 100%;
  margin-bottom: 150px;
}

footer {
  text-align: center;
  width: 100%;
  margin: 0 auto 30px auto;
  position: fixed;
  bottom: 0;
}

.active {
  border-bottom: 2px solid #910d0d;
}

.contact-icons i {
  margin: 0 20px;
  font-size: 3.5em;
  background-color: #000;
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
}

.contact-icons a,
.contact-icons a:visited,
.contact-icons a:active
 {
  color: #fff;
}

.band-name {
  font-family: 'Homemade Apple', cursive;
  font-size: 5em;
  margin-bottom: 0;
  text-decoration: none;
  color: #000;
}

.band-name:visited, .band-name:active {
  color: #000;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.nav-links li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  font-size: 3em;
  margin: 0 15px;
  font-weight: bold;
  color: #910d0d;
}

.nav-link a:active {
  text-decoration: underline;
}
