.contact-icons i {
  margin: 0 20px;
  font-size: 4em;
}

.main-image {
  width: 80%;
  margin-bottom: 10px;
}

.main-links a {
  text-decoration: none;
  color: #4f5d75;
  font-size: 1.5em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.main-links a:hover {
  color: #B08B71;
}

/* ----- media queries ----- */



/*@media screen and (min-width : 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-image {width: 33%;}

  a {font-size: 1.2em;}

  .show-info-container {
    width: 70%;
  }

  .buttons-container {
    width: 30%;
  }

  .show-info-container div {
    display: inline;
    width: 33%;
    float: left;
  }
  .shows-list-button {
    display: inline;
    width: 40%;
    float: right;
    margin-right: 10px;
  }
  .shows {
    max-width: 1200px;
    margin: 0 auto;
  }

  #shows-list li {
    padding-top: 10px;
  }

  .main-links {
    display: inline;
    margin: 0 10px;
  }
}*/
