.release {
  margin-bottom: 30px;
}

.release a {
  text-decoration: none;
  color: #7da6e8;
}

.release div {
  padding-bottom: 15px;
}

.releases {
  width: 100%;
  text-align: center;
  font-size: 3.6em;
}

.release-image {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}


.release-detail {

}

.release-list li {
  list-style: none;
}
