.releases {
  width: 100%;
  font-size: 2em;
}

.release {

  margin: 30px auto;
}

.release::after {
  display: block;
  content: '';
  height:1px;
  background-color: #ccc;
  width: 80%;
  margin: 10px auto;
}

.release-image {
  width: 80%;
}

.release-name {
  font-weight: bold;
  font-size: 1.5em;
}

.shadow {
  /*-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  */
  box-shadow:         3px 3px 5px 6px #ccc;
}

.release p {
  margin-bottom: 10px 0;
}
