.shows {
  width: 95%;
  font-size: 1.8rem;
  margin: 0 auto;
}

.row {
  position: relative;
}

.show-info-container, .buttons-container {
  display: inline;
  width: 50%;
  float: left;
  padding: 10px 0;
}

#shows-list {
  text-align: left;
  width: 100%;
  padding-left: 0;
}

#shows-list li {
  padding: 0;
  list-style: none;
  padding-bottom: 10px;
}

#shows-list li::after {
  display: block;
  content: '';
  height:1px;
  background-color: #ccc;
  width: 100%;
  margin: 10px auto;
}

#shows-list li:last-child::after {
  height: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.shows-list-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.shows-list-button {
  border: 1px solid black;
  text-align: center;
  color: #000;
  padding: 10px 0;
  text-decoration: none;
  margin: 0 auto 10px auto;
  display: block;
  width: 90%;
  float: right;
}

.other-bands {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .shows {
    width: 80%;
    font-size: 2rem;
    margin: 0 auto;
  }

  .other-bands {
    font-size: 1.8rem;
  }

  .shows-list-button {
    display: inline;
    width: 25%;
    margin: 10px;
  }

  .shows-list-button a:hover {
    font-size: 1em;
    color: #fff;
  }

  .shows-list-button:hover {
    border: 1px solid #4f5d75;
    background: #4f5d75;
    color: #fff;
    text-align: center;
  }

  .show-info-div {
    display: inline;
    margin-right: 10px;
  }

  .shows-list-date {
    font-weight: bold;
  }

  .other-bands {
    margin-top: 10px;
  }
}
